* {
    font-family: Arial, sans-serif;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header,
.dadInfo {
    background-color: #1f2937;
    color: white;

}

.dadLogo {
    animation: blinker 3s linear infinite;
    color: yellow;
    font-size: 50px;
    margin-top: 100px;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

#navbar {
    display: flex;
    padding: 40px;
    justify-content: end;
    align-items: end;
}


a {

    color: white;
    text-decoration: none;
    margin-right: 10px;
}